body {
    display: flex;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  } 
.text{
    width: 60%;
}
h1,h2{
    text-align: center;
}
h1{
    color: tomato;
}
h2{
    color: dodgerblue;
}

.text{
    width: 50%;
}
.img{
    width: 50%;
}
.img img{
  float: right;
}
