body {
    margin: 0;
    padding: 0;
  }
nav{
    background-color: #3c3939;  
}
nav a:hover{
    background-color:tomato;    
    
}
nav a.active{
    background-color:dodgerblue;
}
nav a{
    padding: 0px 34px;
    font-size: 36px;
    color: white;
    text-decoration: none;
}
